body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: linear-gradient(90deg, #ffffff, #0b0000);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

section {
    padding: 40px 0;
    text-align: center;
}

h2 {
    color: #ff8c00;
    border-bottom: 3px solid #ff0080;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: linear-gradient(90deg, #ffffff, #000000);
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.5);
    font-weight: bold;
    color: #fff;
}

/* Image size modification */
img {
    max-width: 200px; /* Adjust width */
    max-height: 200px; /* Adjust height */
    display: block;
    margin: 20px auto; /* Center the image */
    border-radius: 10px;
}

footer {
    background: linear-gradient(90deg, #ffffff, #000000);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    bottom: 0;
    width: 100%;
}
